@use "sass:color";

// Landing
@use "config" as *;

body {
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 500;
    color: #212121;
    padding: 0;
    margin: 0.5rem 0 1.5rem;
}

.fi-list {
    font-size: 0;
    margin: 0 -10px;

    .fi {
        margin: 0 10px 10px;
        display: inline-block;
    }
}

.mb {
    margin-bottom: 16px;
}

.container {
    width: 720px;
    margin: 0 auto;
}

.btn {
    padding: 8px 21px;
    display: inline-block;
    background-color: #157efb;
    color: #fff;
    text-decoration: none;
    border: 0;
    line-height: 1;
    vertical-align: top;
    transition: background-color 0.2s ease-in-out;

    &:hover {
        background-color: color.adjust(#157efb, $lightness: -10%);
        color: #fff;
    }
}

section {
    padding: 16px 0;
}

hr {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    margin: 0.75em 0;
}

pre.prettyprint {
    width: 100%;
}

.code {
    &.prettyprint {
        border: 0;
        border-radius: 4px;
        color: #655d5d;
        width: 100%;
    }

    &-content {
        border-radius: 0;
        display: block;
        padding: 0;
        white-space: pre;
    }
}

.page-content {
    padding: 0 0 50px;
}

.page-header {
    background-color: #f4f5f6;
    padding: 32px 0;

    .small {
        font-size: 13px;
        vertical-align: top;
        line-height: 31px;
        color: #333;
    }

    h1 {
        color: #157efb;
    }

    .btn {
        margin-right: 10px;
    }
}

.page-footer {
    background-color: #f4f5f6;
    padding: 16px 0;
    text-align: center;
    font-size: 13px;
}

.mb-3 {
    margin-bottom: 30px;
}

.page-contents {
    background-color: #f7fbff;
    border: 1px solid color.adjust(#f7fbff, $lightness: -5%);
    padding: 0 0 24px;

    h3 {
        padding: 0 20px;
    }

    a {
        text-decoration: none;
    }

    .page-nav {
        margin: 0;
    }
}

a {
    text-decoration: none;
    color: #157efb;

    &:hover {
        color: color.adjust(#157efb, $lightness: -15%);
    }
}

.sidebar {
    position: fixed;
    margin: 0 0 0 -240px;
    top: 60px;
    z-index: 111;
    padding: 8px 12px;
    background-color: #f7fbff;
    border: 1px solid color.adjust(#f7fbff, $lightness: -5%);
    width: 180px;

    a {
        display: block;
        padding: 6px 0;
    }
}
