// Landing

body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #212121;
}

.fi-list {
    font-size: 0;
    margin: 0 -10px;
    .fi {
        margin: 0 10px 10px;
        display: inline-block;
    }
}

.container {
    width: 720px;
    margin: 0 auto;
}

.btn {
    padding: 8px 25px;
    display: inline-block;
    background-color: blue;
    color: #fff;
    text-decoration: none;
    border: 0;
    &:hover {
        background-color: darken(blue, 10%);
    }
}

hr {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    margin: 2em 0;
}

.code {
    &.prettyprint {
        border: 0;
        border-left: .3rem solid #e7e7e7;
        color: #655d5d;
    }
    &-content {
        border-radius: 0;
        display: block;
        padding: 1rem 1.2rem;
        white-space: pre;
    }
}

.page-content {
    padding: 0 0 50px;
}

.page-header {
    background-color: #f4f5f6;
    padding: 32px 0;
}
.page-footer {
    background-color: #f4f5f6;
    padding: 16px 0;
    text-align: center;
    font-size: 13px;
}

.mb-3 {
    margin-bottom: 30px;
}