// Landing
 body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
 h1, h2, h3, h4, h5 {
    font-weight: 500;
    color: #212121;
}
 .fi-list {
    font-size: 0;
    margin: 0 -10px;
    .fi {
        margin: 0 10px 10px;
        display: inline-block;
    }
}

.mb {
    margin-bottom: 16px;
}

 .container {
    width: 720px;
    margin: 0 auto;
}
 .btn {
    padding: 8px 21px;
    display: inline-block;
    background-color: #157efb;
    color: #fff;
    text-decoration: none;
    border: 0;
    line-height: 1;
    vertical-align: top;
    &:hover {
        background-color: darken(#157efb, 10%);
    }
}

hr {
    border: 0;
    border-bottom: 1px solid #e7e7e7;
    margin: 2em 0;
}

.code {
    &.prettyprint {
        border: 0;
        border-left: .3rem solid #e7e7e7;
        color: #655d5d;
    }
    &-content {
        border-radius: 0;
        display: block;
        padding: 1rem 1.2rem;
        white-space: pre;
    }
}
 .page-content {
    padding: 0 0 50px;
}
 .page-header {
    background-color: #f4f5f6;
    padding: 32px 0;
    h1 {
        color: #157efb;
    }
    .btn {
        margin-right: 10px;
    }
}
.page-footer {
    background-color: #f4f5f6;
    padding: 16px 0;
    text-align: center;
    font-size: 13px;
}
 .mb-3 {
    margin-bottom: 30px;
}

.page-contents {
    background-color: #f7fbff;
    border: 1px solid darken(#f7fbff, 5%);
    padding: 0 0 24px 0;
    h3 {
        padding: 0 20px;
    }
    a {
        text-decoration: none;
    }

    .page-nav {
        margin: 0;
    }
}

a {
    color: #157efb;
    &:hover {
        color: darken(#157efb, 15%);
    }
}
